body {
  background-color: white;
}
.title {
  position: relative;
  color: white;
  font-size: 40px;
  background-color: rgb(0, 100, 103);
  margin: 10px;
  padding: 15px;
  bottom: 10;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  height: 70px;
  left: -20;
  padding-top: 50px;
  
}

.starting-page{
  background-color: rgb(255, 255, 255);
  left: 0px;
  top: 0px;
  width: 2000px;
  height: 1000px;
  z-index: 99999999999;
  position: absolute;
}

.starting-page-title{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  position: relative;
  padding-top: 20px;
  color: darkcyan;
}

.bullet-point{
  position: relative;
  text-align: left;
  left: 30%;
  color: black;
  font-size: 20px;
  top: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top: 20px;
  
  
}

.info {
  outline: solid 2px rgb(81, 81, 81);
  color: rgb(0, 0, 0);
  box-shadow: #1b1b1b;
  text-align: center;
  justify-content: center;
  background-color: white;
  height: 35%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(30%, 30%);
  border-radius: 5px;
}

.start-button{
  position: relative;
  width: 200px;
  height: 50px;
  top: 37%;
  background-color: darkcyan;
  color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
}

.start-button:hover{
  background-color: rgb(0, 69, 69);
}

.heat-output {
  font-size: 30;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 35;
}

.heat-output-value {
  display: inline;
  font-size: 30;
}
.stats {
  position: relative;
  top: -90px;
  border: 0 2px #fff;
  height: 15%;
  text-align: right;
  left: -90;
}

.room-counter,
.heater-counter {
  font-size: 20px;
  display: inline-block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#room-count,
#heater-count {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 40px;
}

.confirm-button {
  border: none;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 40px;
  background-color: rgb(255, 255, 255);
  padding: 2px 15px;
  box-shadow: 0 1px rgb(255, 255, 255);
  margin-bottom: 1px;
}

.confirm-button:hover {
  background-color: rgb(0, 145, 158);
  color: white;
  cursor: pointer;
}

.confirm-button:active {
  box-shadow: 0 0.2px #fff;
  transform: translateY(1px);
}
.menu {
  width: 300px;
  height: 100%;
  left: 0;
  top: 135;
  background-color: #1b1b1b;
  position: absolute;
}

.menu .room a {
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
  line-height: 60px;
  padding-left: 40px;
  border-bottom: 1px solid #fff;
}

.menu .room a:hover {
  background: black;
  transition: 0.3s ease;
}

.menu .room a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.menu .room .sub-menu {
  background: rgb(0, 100, 103);
  padding: 10px;
  display: none;
}

.rotate {
  transform: rotate(90deg);
}

.rooms-menu-title {
  text-align: center;
  background-color: white;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10;
}

.main-room,
.kitchen {
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  left: 100;
  margin-top: 10;
  cursor: pointer;
  position: relative;
  width: 99px;
  height: 98px;
  border: 5px double black;
  background-color: white;
}

.bathroom {
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  left: 100;
  margin-top: 10;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 100px;
  border: 5px double black;
  background-color: white;
  place-items: auto, auto;
}

.living-room {
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  left: 100;
  margin-top: 10;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
  border: 5px double black;
  background-color: white;
}

.chs {
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  left: 100;
  margin-top: 10;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 90px;
  border: 5px double red;
  background-color: white;
}

.thermostat {
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  left: 100;
  margin-top: 10;
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  border: 5px double darkcyan;
  background-color: white;
}

.drop-area {
  margin: 0px;
  left: 0;
  position: relative;
  width: 1000px;
  height: 80%;
  left: 400;
  border: 2px dashed black;
}

.pipe-canvas {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.drop-area-text {
  text-align: center;
  display: block;
}

.drop-zone-over {
  opacity: 0.5;
}
.small-heater {
  width: 100px;
  height: 100px;
  padding: 20px;
  padding-left: 80px;
  cursor: pointer;
}

.large-heater {
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-left: 60px;
  cursor: pointer;
}

#setHeaterOutput {
  display: none;
  text-align: center;
  background-color: #000000aa;
  border: 5px solid black;
  color: white;
  position: absolute;
  width: 400px;
  left: 700px;
  top: 300px;
  height: 250px;
  border-radius: 25px;
  z-index: 9999999;
}

#closeHeaterDiv {
  color: white;
  position: absolute;
  text-align: center;
  left: 40%;
  top: 150px;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
}

#closeHeaterDiv:hover {
  background-color: #1b1b1b;
}

#heaterOutputValue {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background: #999999;
  outline: none;
  opacity: 1;
}

#heaterOutputValue::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid black;
  cursor: pointer;
}

#heaterOutputValue::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid black;
  cursor: pointer;
}

.final-output {
  position: absolute;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  border: 3px solid white;
  color: white;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 25px;
  z-index: 9999999;
  top: 120px;
  left: 120px;
}

.final-output-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.final-output .text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  position: relative;
  text-align: left;
  left: 15px;
  top: 20%;
  padding-bottom: 40px;
}

.is-area-covered-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  text-align: left;
  left: 15px;
  top: 20%;
  padding-bottom: 10px;
  color: red;
  
}

#floor-plan-total,
#heat-plan-total {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  font-size: 80px;
  position: relative;
  text-align: left;
  left: 15px;
  top: 10px;
  padding: 10px;
}

#close-final-output {
  color: white;
  position: absolute;
  text-align: center;
  left: 6px;
  top: 6px;
  background: none;
  border: 2px none white;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  cursor: pointer;
}
